.group-classifying{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0 4%;
    border-top: 0.5px solid rgba(255,255,255,0.8);
    padding-top: 10px;
}

.group-classifying__title{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.group-classifying__title--text{
    font-weight: 300;
    color: rgba(255,255,255,0.8);
}

.group-classifying__title--detail{
    display: flex;
    justify-content: center;
    align-items: center;
}

.group-classifying .user-component{
    margin: 10px 0;
}

.group-classifying:last-child{
    margin-bottom: 50px;
}
.group-classifying .empty-content-box{
    width: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: rgba(255,255,255,0.1);
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}