.nav{
    background-color: #232323;
    height: 50px;
    padding: 18px 6% 16px 6%;
    position: fixed;
    bottom: 0px;
    width: 100%;
    box-sizing: border-box;
}

.nav__ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


@keyframes navBoom{
    from{
        opacity: 0;
    }
    to{
        transform: none;
        opacity: 1;
    }
}

.nav__li{
    position:relative;
    opacity: 0;
    transform: translateY(50px);
    animation: navBoom 0.5s ease-in-out forwards;
}

.nav__li:nth-child(2){
    animation-delay: 0.2s;
}

.nav__li:nth-child(3){
    animation-delay: 0.4s;
}

.nav__li:last-child{
    animation-delay: 0.6s;
}

.nav__a{
    color: rgba(255, 255, 255, 0.3);
    text-decoration: none;
}

.destination-friend .nav__icon-friend{
    color: rgba(255, 255, 255, 1);
}

.destination-chats .nav__icon-chats{
    color: rgba(255, 255, 255, 1);
}

.destination-search .nav__icon-search{
    color: rgba(255, 255, 255, 1);
}

.destination-more .nav__icon-more{
    color: rgba(255, 255, 255, 1);
}

.nav__li .badge{
    position: absolute;
    top: -12px;
    right: -8px;
    animation: badgeFlip 1s ease-in-out infinite;
}

@keyframes badgeFlip{
    0%{
        transform: none;
    }
    50%{
        transform: translateY(-2px);
    }
    100%{
        transform: none;
    }
}
