.nav{
    background-color: #232323;
    height: 50px;
    padding: 18px 6% 16px 6%;
    position: fixed;
    bottom: 0px;
    width: 100%;
    box-sizing: border-box;
}

.nav__ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__a{
    color: rgba(255, 255, 255, 0.3);
    text-decoration: none;
}

.destination-friend .nav__icon-friend{
    color: rgba(255, 255, 255, 1);
}

.destination-chats .nav__icon-chats{
    color: rgba(255, 255, 255, 1);
}

.destination-search .nav__icon-search{
    color: rgba(255, 255, 255, 1);
}

.destination-more .nav__icon-more{
    color: rgba(255, 255, 255, 1);
}