#splash{
    position: absolute;
    background-color: #4B4B4B;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 120vh;
    top: -40px;
    z-index: 10;
    animation: splash 0.3s ease-in-out forwards;
    animation-delay: 1.2s;
    padding-bottom: 20vh;
}

@keyframes splash {
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
        visibility: hidden;
    }
}
