.chat-header{
    position: fixed;
    background-color: inherit;
    top: 0;
    width: 100%;
}

.chat-body{
    background-color: black;
}

.chat-main{
    width: 100%;
    height: 200vh;
    display: flex;
    flex-direction: column;
    margin: 100px auto 10px auto;
    padding: 0 4%;
}

.chat__date{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 8px auto 24px auto;
}

.chat__date span{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.2);
    height: 32px;
    padding: 8px 16px;
    border-radius: 20px;
    color: var(--secondary-font-color);
}

.chat-input{
    display: flex;
    justify-content: flex-start;
    position: fixed;
    bottom: 0;
    background-color: lightblue;
    height: 48px;
    width: 100%;
    padding: 4px 4%;
    border-top: solid 1px rgba(255, 255, 255, 1);
    border-bottom: solid 1px rgba(255, 255, 255, 1);
}

.chat-input__col{
    display: flex;
    align-items: center;
    position: relative;
}

.chat-input__input{
    margin-left: 16px;
    background-color: transparent;
    width: 100%;
}

.chat-action-box{
    position: absolute;
    bottom: 3px;
    right: 4px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.chat-action-box__icon{
    margin-right: 8px;
}

.chat-input .chat-input__col:first-child{
    margin-right: 8px;
}

.chat-input .chat-input__col:last-child{
    width: 100%;
    background-color: rgba(255,255,255,0.3);
    border-radius: 20px;
}

.chat-input .chat-input__col:first-child,
.chat-input .chat-action-box{
    transition: all 0.1s linear;
}

.chat-input:focus-within .chat-input__col:first-child,
.chat-input:focus-within .chat-action-box{
    opacity: 0;
    visibility: hidden;
    width: 0;
    margin: 0;
}

.chat-input:focus-within .chat-input__col:last-child{
    width: 100%
}