.chat-header{
    position: fixed;
    background-color: inherit;
    top: 0;
    width: 100%;
}

.chat-body{
    background-color: black;
}

.chat-main{
    width: 100%;
    height: 10000vh;
    display: flex;
    flex-direction: column;
    margin: 100px auto 10px auto;
    padding: 0 4%;
}

.chat__date{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 8px auto 24px auto;
}

.chat__date span{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.2);
    height: 32px;
    padding: 8px 16px;
    border-radius: 20px;
    color: var(--secondary-font-color);
}